<h2 class="mt-20">Add course details</h2>
<form (ngSubmit)="validate()" [formGroup]="form" class="form-horizontal">
    <div *ngFor="let field of fields">
        <app-field-builder [showError]="formSubmitted" [field]="field" [form]="form"></app-field-builder>
    </div>
    <div>
        <app-batch-builder [showError]="formSubmitted" [batches]="batches" [form]="form"></app-batch-builder>
    </div>
    <div class="row">
        <div class="col-sm-12 mt-20">
            <svg class="bi bi-plus-circle-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor"
                xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4a.5.5 0 0 0-1 0v3.5H4a.5.5 0 0 0 0 1h3.5V12a.5.5 0 0 0 1 0V8.5H12a.5.5 0 0 0 0-1H8.5V4z" />
            </svg>
            <a class="add-course pointer" (click)="addEmptyBatch()"> Add Another Course Date</a>
        </div>
        <div *ngIf="requiredError">
            <p class="text-danger">Please fill the required information to proceed</p>
        </div>
    </div>
    <div class="buttons-wrapper">
        <button (click)="back()" class="mt-20">Back</button>
        <button type="submit" class="green-button mt-20">Next</button>
    </div>
</form>
