<h2 class="mt-20">Add course details</h2>
<form (ngSubmit)="validate()" [formGroup]="form" class="form-horizontal">
    <div *ngFor="let field of fields">
        <app-field-builder [showError]="formSubmitted" [field]="field" [form]="form"></app-field-builder>
    </div>
    <div>
        <app-batch-builder [showError]="formSubmitted" [batches]="batches" [form]="form"></app-batch-builder>
    </div>
    <div>
        <button type="button" (click)="addEmptyBatch()">Add Course Date</button>
    </div>
    <div *ngIf="requiredError">
        <p class="text-danger">Please fill the required information to proceed</p>
    </div>
    <div class="buttons-wrapper">
        <button type="submit" class="green-button mt-20">Next</button>
    </div>
</form>
