<div class="row">
    <div class="col-4"></div>
    <div class="col-4">
        <div class="form-group">
            <div class="input-group">
                <ng-select
                    placeholder="Select Location"
                    [items]="cities"
                    bindLabel="name"
                    [(ngModel)]="batch.location"
                    (ngModelChange)="locationChanged(index, $event)"
                >
                </ng-select>
            </div>
        </div>
    </div>
    <div class="col-4"></div>
</div>
<div class="row">
    <div class="col-4"></div>
    <div class="col-4">
        <div class="form-group">
            <div class="input-group">
                <ng-select
                    placeholder="Select Languages"
                    [items]="languages"
                    [multiple]="true"
                    bindLabel="name"
                    [closeOnSelect]="false"
                    [(ngModel)]="batch.languages"
                    (ngModelChange)="languageChanged(index, $event)"
                >
                    <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                        <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected"/> {{item.name}}
                    </ng-template>
                </ng-select>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="form-group">
            <div class="input-group">
                <!-- <textbox [field]="cost" [form]="form"></textbox> -->
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-4"></div>
    <div class="col-8">
        Is this a weekend course?
        <radio [field]="weekend" [form]="form"></radio>
    </div>
</div>
<style>
ng-select {
    width: 100%;
}
</style>