<div class="form-group">
    <div [formGroup]="form">
      <label
        class="mt-3"
        [class.color-danger]="showError && field.value === '' && field.required"
      >{{ field.label }}</label>
      <input class="form-control"
        *ngIf="!field.multiline"
        [attr.type]="field.type"
        [id]="field.name"
        [name]="field.name"
        [formControlName]="field.name"
        [placeholder]="field.placeholder"
      >
      <textarea class="form-control"
        *ngIf="field.multiline"
        [class.is-invalid]="isDirty && !isValid"
        [formControlName]="field.name"
        [id]="field.name"
        rows="9"
        [placeholder]="field.placeholder"
      ></textarea>
    </div>
</div>
