<div class="row">
    <div class="col-4">
        <div class="row">
            <div class="col-6">
                <p>Batch {{ index + 1 }}</p>
            </div>
            <div class="col-6">
                <div ngbDropdown class="d-inline-block">
                    <button type="button" class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Options</button>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                        <button type="button" (click)="reset(index)" ngbDropdownItem>Reset</button>
                        <button type="button" (click)="delete(index)" ngbDropdownItem>Delete</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="form-group">
            <div class="input-group datepicker">
                <input class="form-control"
                    placeholder="Start Date"
                    name="startDate"
                    (dateSelect)="onDateSet(index, 'startDate', $event)"
                    [(ngModel)]="batch.startDate"
                    ngbDatepicker
                    #startDateHandle="ngbDatepicker"
                >
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary calendar" (click)="startDateHandle.toggle()" type="button"></button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="form-group">
            <div class="input-group datepicker">
                <input class="form-control"
                    placeholder="End Date"
                    name="endDate"
                    (dateSelect)="onDateSet(index, 'endDate', $event)"
                    [(ngModel)]="batch.endDate"
                    ngbDatepicker
                    #endDateHandle="ngbDatepicker"
                >
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary calendar" (click)="endDateHandle.toggle()" type="button"></button>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
::ng-deep .card {
    overflow: visible !important;
}
</style>
