<div class="row">
    <div class="col-3">
        <div class="row">
            <div class="col-12">
                <p>Batch {{ index + 1 }}</p>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="form-group">
            <div class="input-group datepicker">
                <img src="assets/ic_datepicker.png" class="calendar-icon" (click)="startDateHandle.toggle()" alt="">
                <input class="form-control"
                    [readonly]="true"
                    placeholder="Start Date"
                    name="startDate"
                    [(ngModel)]="batch.startDate"
                    ngbDatepicker
                    #startDateHandle="ngbDatepicker"
                >
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="form-group">
            <div class="input-group datepicker">
                <img src="assets/ic_datepicker.png" class="calendar-icon" (click)="endDateHandle.toggle()" alt="">
                <input class="form-control"
                    [readonly]="true"
                    placeholder="End Date"
                    name="endDate"
                    [(ngModel)]="batch.endDate"
                    ngbDatepicker
                    #endDateHandle="ngbDatepicker"
                >
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="col-12">
            <div ngbDropdown class="d-inline-block">
                <div ngbDropdownToggle>
                    <img src="assets/ic_chevrondropdown.png" alt="">
                </div>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    <button type="button" (click)="reset(index)" ngbDropdownItem>
                        <img src="" alt="">
                        Reset
                    </button>
                    <button type="button" (click)="delete(index)" ngbDropdownItem>Delete</button>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
::ng-deep .card {
    border: none;
    overflow: visible !important;
}
::ng-deep .dropdown-toggle::after {
    display:none;
}
</style>
