<div class="row">
    <div class="col-4">Batch</div>
    <div class="col-4">Start Date</div>
    <div class="col-4">End Date</div>
</div>
<ngb-accordion [closeOthers]="true">
    <ng-container *ngFor="let batch of batches; let i = index">
        <ngb-panel [attr.id]="batch + i">
            <ng-template ngbPanelHeader let-opened="opened">
                <batch-header
                    [batch]="batch"
                    [form]="form"
                    [index]="i"
                    (onReset)="resetBatch($event)"
                    (onDelete)="deleteBatch($event)"
                ></batch-header>
                <button ngbPanelToggle class="btn btn-link p-0">{{ opened ? 'Close' : 'Open' }}</button>
            </ng-template>
            <ng-template ngbPanelContent>
                <batch-content
                    [batch]="batch"
                    [form]="form"
                    [index]="i"
                ></batch-content>
            </ng-template>
        </ngb-panel>
    </ng-container>
</ngb-accordion>