<div class="row">
    <div class="col-3">Batch</div>
    <div class="col-3">Start Date</div>
    <div class="col-3">End Date</div>
    <div class="col-3"></div>
</div>
<ngb-accordion [closeOthers]="true" activeIds="static-1">
    <ng-container *ngFor="let batch of batches; let i = index">
        <ngb-panel [attr.id]="batch + i">
            <ng-template ngbPanelTitle>
                <batch-header
                    [batch]="batch"
                    [form]="form"
                    [index]="i"
                    (onReset)="reset($event)"
                    (onDelete)="delete($event)"
                ></batch-header>
            </ng-template>
            <ng-template ngbPanelContent>
                <batch-content
                    [batch]="batch"
                    [form]="form"
                    [index]="i"
                ></batch-content>
            </ng-template>
        </ngb-panel>
    </ng-container>
</ngb-accordion>